body {
    font-family: Arial;
    padding: 20px;
}

.container {
    max-width: 450px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    padding: 8px 12px;
}

ul li {
    background: #eee;
    padding: 10px;
    margin-top: 8px;
}
